browser-cookie3==0.20.1
certifi==2025.11.12
charset-normalizer==3.4.4
defusedxml==0.7.1
idna==3.11
lz4==4.4.5
numpy==2.3.5
pandas==2.3.3
pycryptodomex==3.23.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
requests==2.32.5
shadowcopy==0.0.4
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
WMI==1.5.1
youtube-transcript-api==0.6.2
