* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Arial;
}

body {
  background: #0b1220;
  color: white;
}

.container {
  width: 80%;
  max-width: 1050px;
  margin: auto;
}

.button {
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.input {
  width: 400px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
